@font-face {
    font-family: 'Open Sans';
    src: url('open-sans-variable.ttf') format('truetype-variations');
    font-weight: 300 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('open-sans-variable-italic.ttf') format('truetype-variations');
    font-weight: 300 800;
    font-style: italic;
}

/*
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/font/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('assets/font/open-sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('assets/font/open-sans/OpenSans-Light.ttf') format('truetype');
}
*/
