<div
    class="flex flex-col mx-auto h-full max-h-full max-w-[2048px] overflow-hidden text-slate-600 dark:text-slate-400">
    <!-- header -->
    <app-header class="flex-shrink-0"></app-header>

    <div class="flex flex-row h-full max-h-full overflow-hidden">
        <app-sidebar
            class="flex-shrink-0 relative z-10 flex flex-col h-full max-h-full overflow-hidden">
        </app-sidebar>

        <main class="flex-1 relative z-0 p-0 h-full max-h-full overflow-hidden">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
