@font-face {
    font-family: 'Material Symbols Rounded';
    src: url('material-symbols-rounded.woff2') format('woff2-variations');
    font-weight: 100 700;
    font-style: normal;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('material-symbols-outlined.woff2') format('woff2-variations');
    font-weight: 100 700;
    font-style: normal;
}

.material-symbols {
    /* font-weight: normal; */
    font-style: normal;
    /* font-size: 24px; /* Preferred icon size */
    display: inline-block;
    /* line-height: 1.2; */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.material-symbols-fill-0 {
    font-variation-settings: 'FILL' 0;
}

.material-symbols-fill-1 {
    font-variation-settings: 'FILL' 1;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
}
