<header
    class="flex flex-row items-center border-b-2 border-slate-400/20 dark:border-slate-600/20 py-2 w-full">
    <app-header-logo></app-header-logo>

    <div class="flex-1 flex flex-row items-center justify-between px-4">
        <div class="flex-1"></div>
        <div
            class="flex-shrink-0 flex flex-row items-center justify-between space-x-6">
            <!-- notifications -->
            <div
                class="relative"
                (clickOutside)="closeDropDowns('notifications')">
                <button
                    class="flex flex-row items-center justify-center rounded-full w-10 h-10 hover:bg-sky-200 dark:hover:bg-slate-600/50 text-slate-600 hover:text-slate-800 dark:text-sky-200 dark:hover:text-sky-100 outline-none focus:outline-none transition duration-300 ease-in-out"
                    (click)="toggleNotificationsMenu()">
                    <span
                        class="flex-shrink-0 flex flex-row items-center justify-center w-10 font-light text-3xl">
                        <span class="material-symbols material-symbols-rounded"
                            >notifications
                        </span>
                    </span>
                </button>

                <app-notification
                    [shown]="notificationsMenuShown"></app-notification>
            </div>

            <!-- user avatar -->
            <div
                class="flex-shrink-0 flex flex-row items-center space-x-4 border border-transparent hover:border-slate-600/20 dark:hover:border-slate-400/20 rounded-l-full rounded-r-full pl-4 transition ease-in-out duration-300">
                <span class="select-none" *ngIf="!!user">{{ user.name }}</span>
                <div class="relative" (clickOutside)="closeDropDowns('avatar')">
                    <button
                        class="flex flex-row items-center justify-center rounded-full w-12 h-12 overflow-hidden bg-gradient-to-br from-sky-400 dark:from-sky-800 via-indigo-400 dark:via-indigo-800 to-fuchsia-400 dark:to-fuchsia-800 outline-none focus:outline-none"
                        (click)="toggleUserMenu()">
                        <img
                            *ngIf="!!user; else defaultusericon"
                            [src]="user.photoUrl"
                            alt="dp"
                            referrerpolicy="no-referrer"
                            class="w-full h-full" />
                    </button>

                    <app-dropdown-menu
                        [menu]="userMenu"
                        [shown]="userMenuShown"></app-dropdown-menu>
                </div>
            </div>
        </div>
    </div>
</header>

<ng-template #defaultusericon>
    <span
        class="shrink-0 flex flex-row items-center justify-center w-12 h-12 font-extralight text-5xl text-sky-50">
        <span class="material-symbols material-symbols-rounded">face</span>
    </span>
</ng-template>
