<div class="rounded-2xl lg:rounded-3xl" [ngClass]="cls()">
    <header
        class="flex flex-row items-center space-x-4 lg:space-x-6 px-4 lg:px-6 pt-4 lg:pt-6">
        <div
            class="flex-shrink-0 flex flex-row items-center justify-center rounded-xl w-12 lg:w-14 h-12 lg:h-14 font-light text-3xl lg:text-4xl"
            [ngClass]="headerIconCls()">
            <span class="material-symbols material-symbols-rounded"
                >{{ icon }}
            </span>
        </div>
        <h5
            class="font-medium text-lg lg:text-xl font-roboto-slab tracking-wide truncate">
            {{ title }}
        </h5>
    </header>

    <main class="px-4 lg:px-6 lg:pr-4 py-2">
        <p
            class="flex flex-row font-semibold text-2xl md:text-3xl lg:text-3xl xl:text-3xl 2xl:text-4xl font-roboto-slab truncate">
            {{ text }}
        </p>
    </main>
    <footer
        class="flex flex-row items-center space-x-1 px-4 lg:px-6 lg:pr-4 pt-2 pb-4 lg:pb-6 text-sm lg:text-base">
        <span class="font-bold">45%</span>
        <span
            class="flex-shrink-0 flex flex-row items-center justify-center font-light">
            <span class="material-symbols material-symbols-rounded"
                >north
            </span>
        </span>
        <span>from previous</span>
    </footer>
</div>
